In [4]:
# 결측치 찾기

import pandas as pd
import numpy as np

# 예제 데이터
data = {'A': [1, np.nan, 3], 'B': [4, 5, np.nan], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# 결측치 확인
print(df.isnull())
# 결과:
#        A      B      C
# 0  False  False  False
# 1   True  False  False
# 2  False   True  False

# 결측치 대체
filled_df = df.fillna(0)
print(filled_df)
# 결과:
#      A    B  C
# 0  1.0  4.0  7
# 1  0.0  5.0  8
# 2  3.0  0.0  9

# 결측치 제거
dropped_df = df.dropna()
print(dropped_df)
# 결과:
#      A    B  C
# 0  1.0  4.0  7

       A      B      C
0  False  False  False
1   True  False  False
2  False   True  False
     A    B  C
0  1.0  4.0  7
1  0.0  5.0  8
2  3.0  0.0  9
     A    B  C
0  1.0  4.0  7

나이 열의 데이터 타입을 int로 변환하자
성별 열의 값에서 ‘남’을 ‘M’으로 변경하자
이름 열의 값에서 첫 번째 글자만 대문자로 변경하자
키 열의 데이터 타입을 float로 변환하자
이름 열의 값에서 ‘e’를 ‘E’로 변경하자

In [6]:
import pandas as pd

# 샘플 데이터프레임 생성
data = {'이름': ['John', 'Steve', 'Sarah', 'Ann', 'Mike'],
        '나이': ['25', '32', '28', '35', '41'],
        '성별': ['남', '남', '여', '여', '남'],
        '키': ['175', '180', '163', '155', '190']}
df = pd.DataFrame(data)

df['나이'] = df['나이'].astype(int)

'학년' 열을 추가하고, 모든 행에 '3학년'이라는 값으로 채워 넣으세요.
'국적' 열을 추가하고, 각 행에 해당하는 사람의 국적을 채워 넣으세요.
'성별'이 '여'인 행만 남기고 나머지 행을 삭제하세요.
'나이' 열을 기준으로 내림차순으로 행을 정렬하세요.
인덱스가 2인 행을 삭제하세요.
아래 새로운 행 3개를 추가하세요.
    [{'이름': 'Alex', '나이': 22, '성별': '남', '키': 180, '학년': '2학년', '국적': '미국'}, {'이름': 'Emily', '나이': 29, '성별': '여', '키': 165, '학년': '1학년', '국적': '캐나다'}, {'이름': 'Daniel', '나이': 33, '성별': '남', '키': 175, '학년': '3학년', '국적': '호주'}]



'이름' 열을 기준으로 오름차순으로 행을 정렬하세요.
'키' 열의 값을 cm에서 m로 변환하세요.
'성별' 열을 삭제하세요.

In [ ]:
import pandas as pd

data = {'이름': ['John', 'Steve', 'Sarah', 'Ann', 'Mike'],
        '나이': [25, 32, 28, 35, 41],
        '성별': ['남', '남', '여', '여', '남'],
        '키': [175, 180, 163, 155, 190]}
df = pd.DataFrame(data)